@model PruebaLucasFelizIBSystems.ViewModels.ProductoImagenesViewModel

@{
    ViewBag.Title = "Detalles de producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inactivo)
        </dt>

        <dd>
            @if (Model.Inactivo)
            {
                <span>Sí</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>

    </dl>
</div>
<div id="divPrevisualizarImagenes" class="previsualizarImagenes">
    @foreach (var imagen in Model.ImagenesProducto)
    {
        string imageBase64 = Convert.ToBase64String(imagen.Imagen);
        string imageSrc = string.Format("data:image/*;base64,{0}", imageBase64);
        <img src="@imageSrc" width="100" height="100" />
    }
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { idProducto = Model.IdProducto }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
